<table class="data">
  <col width="5%">
  <col width="5%">
  <col width="20%">
  <col width="30%">
  <col width="10%">
  <col width="10%">
  <col width="20%">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Fax</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% @stores.each_with_index do | store, index | %>
    <tr class="<%= row_odd_even index -%>">
      <td><%= link_to 'Edit', edit_store_path(store), :class => 'button_small insert' -%></td>
      <td><%= link_to 'Show', store_path(store), :class => 'button_small insert' -%></td>
      <td><%= store.name -%></td>
      <td><%= format_store_address(store).html_safe %></td>
      <td><%= store.phone -%></td>
      <td><%= store.fax -%></td>
      <td><%= store.email -%></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @stores -%>
