<%= form_for @exhibitor, :html => { :id => form_id, :class => 'ajaxed' } do |f| %>
  <%= field_set_tag "<span>Exhibitor Details</span>".html_safe do %>
  <ol>
    <li><%= form_label_field f, :first_name %></li>
    <li><%= form_label_field f, :last_name %></li>
    <li><%= form_label_field f, :address %></li>
    <li><%= form_label_field f, :city %></li>
    <li><%= f.label :state, mark_required(f.object, :state) %><%= select_tag "exhibitor[state]", options_for_select(state_options, f.object.state)%></li>
    <li><%= form_label_field f, :postal_code %></li>
    <li><%= form_label_field f, :phone %></li>
    <li><%= form_label_field f, :fax %></li>
    <li><%= form_label_field f, :cell %></li>
    <li><%= form_label_field f, :email %></li>
  </ol>
  <% end %>
  <%= field_set_tag nil, :class => 'submit'  do -%>
    <%= submit_tag 'Save Exhibitor' %>
  <% end %>
<% end %>
