<%= form_for @coordinator, :html => { :id => form_id, :class => 'ajaxed' } do |f| %>
  <%= field_set_tag "<span>Coordinator Details</span>".html_safe do %>
  <ol>
    <li><%= form_label_field f, :first_name %></li>
    <li><%= form_label_field f, :last_name %></li>
    <li><%= form_label_field f, :phone %></li>
    <li><%= form_label_field f, :email %></li>
  </ol>
  <% end %>
  <%= field_set_tag nil, :class => 'submit'  do -%>
    <%= submit_tag 'Save Coordinator' %>  <span>or <a class="cancel_form" href="#">Cancel</a></span>
  <% end %>
<% end %>
