<%= form_for @coordinator, :html => { :id => form_id, :class => 'ajaxed' } do |f| %>
  <%= field_set_tag "Coordinator Details" do %>
  <ol>
    <li><%= form_label_field f, :first_name %></li>
    <li><%= form_label_field f, :last_name %></li>
    <li><%= form_label_field f, :phone %></li>
    <li><%= form_label_field f, :email %></li>
  </ol>
  <% end %>
  <%= submit_tag 'Save Coordinator' %>
<% end %>
