<%= form_for @coordinator, :html => { :id => form_id } do |f| %>
  <%= render "shared/error_messages", :target => @coordinator -%>
  <%= field_set_tag do %>
  <ul>
    <li><%= form_label_field f, :first_name %></li>
    <li><%= form_label_field f, :last_name %></li>
    <li><%= form_label_field f, :phone %></li>
    <li><%= form_label_field f, :email %></li>
  </ul>
  <% end %>
  <%= submit_tag 'Save Coordinator' %>
<% end %>
