<table class="data">
  <col width="5%">
  <col width="5%">
  <col width="30%">
  <col width="30%">
  <col width="30%">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% @coordinators.each_with_index do | coordinator, index | %>
    <tr class="<%= row_odd_even index -%>">
      <td><%= link_to 'Edit', edit_coordinator_path(coordinator), :class => 'button_small insert' -%></td>
      <td><%= link_to 'Show', coordinator_path(coordinator), :class => 'button_small insert' -%></td>
      <td><%= format_coordinator_name(coordinator) -%></td>
      <td><%= coordinator.phone -%></td>
      <td><%= coordinator.email -%></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @coordinators -%>
