<table class="data">
  <col/>
  <col/>
  <col/>
  <col/>
  <col/>
  <col/>
  <col/>
  <thead>
    <tr>
      <th>Name</th>
      <th>Room</th>
      <th>Lines</th>
      <th>Associates</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
  <% @exhibitor_registrations.each_with_index do | er, index | %>
    <% er.rooms.each_with_index do | room, room_index | %>
    <tr class="<%= row_odd_even index -%>">
      <td><%= (room_index > 0) ? "&nbsp;".html_safe : format_exhibitor_name(er.exhibitor) %></td>
      <td><div id="<%= room.id %>" class="room_edit"><%= room.room %></div></td>
      <td><div id="<%= room.id %>" class="lines_edit"><%= room.lines_as_csv %></div></td>
      <td><div id="<%= room.id %>" class="associates_edit"><%= room.associates_as_csv %></div></td>
      <td>
        <%= form_tag registration_path(er), :method => 'delete' do %>
            <%= submit_tag "Unregister" %>
        <% end %>
      </td>
      <td>
        <%= form_tag add_room_registration_path(er), :method => 'post' do %>
            <%= submit_tag "Add Room" %>
        <% end %>
      </td>
      <td>
        <%= form_tag delete_room_registration_path(er), :method => 'post' do %>
            <%= hidden_field_tag :room_id, room.id %>
            <%= submit_tag "Delete Room" %>
        <% end %>
      </td>
    </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
