<%= form_for @venue, :html => { :id => form_id, :class => 'ajaxed' } do |f| %>
  <%= field_set_tag "<span>Venue Details</span>".html_safe do %>
  <ol>
    <li><%= form_label_field f, :name %></li>
    <li><%= form_label_field f, :address_1 %></li>
    <li><%= form_label_field f, :address_2 %></li>
    <li><%= form_label_field f, :city %></li>
    <li><%= f.label :state, mark_required(f.object, :state) %><%= select_tag "venue[state]", options_for_select(state_options, f.object.state)%></li>
    <li><%= form_label_field f, :postal_code %></li>
  </ol>
  <% end %>
  <%= field_set_tag nil, :class => 'submit'  do -%>
    <%= submit_tag 'Save Venue' %>
  <% end %>
<% end %>
