<table class="data">
  <col width="5%">
  <col width="5%">
  <col width="10%">
  <col width="25%">
  <col width="25%">
  <col width="15%">
  <col width="15%">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>Name</th>
      <th>Dates</th>
      <th>Next Dates</th>
      <th>Venue</th>
      <th>Coordinator</th>
    </tr>
  </thead>
  <tbody>
    <% @shows.each_with_index do | show, index | %>
    <tr class="<%= row_odd_even index -%>">
      <td><%= link_to 'Edit', edit_show_path(show), :class => 'button_small insert' -%></td>
      <td><%= link_to 'Show', show_path(show), :class => 'button_small insert' -%></td>
      <td><%= show.name %></td>
      <td><%= format_date_range(show.start_date, show.end_date) %></td>
      <td><%= format_date_range(show.next_start_date, show.next_end_date) %></td>
      <td><%= show.venue.name %></td>
      <td><%= format_coordinator_name(show.coordinator) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @shows -%>
