<table class="data">
  <col/>
  <col/>
  <col/>
  <thead>
    <tr>
      <th>Name</th>
      <th>Store</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
  <% @buyer_attendances.each_with_index do | ba, index | %>
    <tr class="<%= row_odd_even index -%>">
      <td><%= format_buyer_name(ba.buyer) %></td>
      <td><%= ba.buyer.store.name %></td>
      <td>
        <%= form_tag attendance_path(ba), :method => 'delete' do %>
            <%= submit_tag "Unregister" %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
