<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>RMSC | <%= yield :title -%></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag("main") -%>
  <%= stylesheet_link_tag("right-aligned-forms") -%>
  <%= javascript_include_tag "jquery/jquery" -%>
  <%= javascript_include_tag "jquery/jquery.livequery" -%>
  <%= javascript_include_tag "application" -%>
  <%= yield :additional_js_libraries -%>
</head>
