<header>
  <div style="height:20px;">
    <div style="float:left;width:20em;text-align:left;">RMSC | <%= yield :title -%></div>
    <div style="float:right;text-align:right;">
      <%= form_tag set_current_show_shows_path, :id => "show_select_form" do %>
        <%= label_tag :show_id %><%= select_tag :show_id, options_for_select(show_options(@show_list), @current_show.id) %>
      <% end %>
    </div>
  </div>
  <div id="menu">
    <ul class="menu">
      <li><%= link_to span_menu("Home"), root_path %></li>
      <li>
        <%= link_to span_menu("Show Definition"), '#', :class => "parent" %>
        <div>
          <ul>
            <li><%= link_to span_menu("Shows"), shows_path %></li>
            <li><%= link_to span_menu("Coordinators"), coordinators_path %></li>
            <li><%= link_to span_menu("Venues"), venues_path %></li>
          </ul>
        </div>
      </li>
      <li>
        <%= link_to span_menu("Retailers"), '#', :class => "parent" %>
        <div>
          <ul>
            <li><%= link_to span_menu("Stores"), stores_path %></li>
            <li><%= link_to span_menu("Buyers"), buyers_path %></li>
          </ul>
        </div>
      </li>
      <li><%= link_to span_menu("Exhibitors"), exhibitors_path %></li>
      <li><%= link_to span_menu("Registrations"), registrations_path %></li>
      <li><%= link_to span_menu("Attendance"), attendances_path %></li>
      <li class="last">
        <%= link_to span_menu("Documents"), "#", :class => "parent" %>
        <div>
          <ul>
            <li><%= link_to span_menu("Booklet"), booklets_path('pdf') %></li>
            <li><%= link_to span_menu("Buyers"), buyers_path('pdf') %></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</header>
