<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <%= render :partial => "/layouts/head" -%>

  <%= render :partial => "/layouts/header" -%>

  <body>
    <div id="module_messages"></div>
    <div id="record_manager"></div>
    <%= yield -%>
    <%= render :partial => "/layouts/footer" -%>
    <%= yield :bottom_load_js -%>
  </body>

</html>
