<!DOCTYPE HTML>
<html>
  <%= render :partial => "/layouts/head" -%>

  <%= render :partial => "/layouts/header" -%>

  <body>
    <div id="record_manager"></div>
    <%= yield -%>
    <%= render :partial => "/layouts/footer" -%>
    <%= yield :bottom_load_js -%>
  </body>

</html>
